<!-- Elements by tag name -->

<h1>Heading with a <span>span</span> element.</h1>
<p>A paragraph with <span>one</span>, <span>two</span>
  spans.</p>

<script>
  function byTagName(node, tagName) {
    // Your code here.
    function traverse(node, tagName) {
      // console.log(`traverse(${node.nodeName}, ${tagName})`);

      if (node.nodeType == Node.ELEMENT_NODE) {
        if (node.nodeName.toLowerCase() === tagName.toLowerCase()) {
          result.push(node);
        }

        for (let i = 0; i < node.childNodes.length; i++) {
          traverse(node.childNodes[i], tagName);
        }
      }
    }

    const result = [];
    traverse(node, tagName);

    return result;
  }

  console.log(byTagName(document.body, "h1").length);
  // → 1
  console.log(byTagName(document.body, "span").length);
  // → 3
  let para = document.querySelector("p");
  console.log(byTagName(para, "span").length);
  // → 2
</script>
