<link rel="stylesheet" href="css/game.css">

<body>
<script>
  // The old runGame function. Modify it...
  async function runGame(plans, Display) {
    let lives = 3;
    for (let level = 0; level < plans.length;) {
      let status = await runLevel(new Level(plans[level]),
                                  Display);
      if (status == "won") {
        level++;
        console.log("You've won!");
      } else if (status == "lost") {
        lives--;
        console.log(`You've lost. Lives remaining ${lives}`);
        if (lives == 0) {
          level = 0;
          lives = 3;
          console.log(`Game Over`);
        }
      }
    }
  }
  runGame(GAME_LEVELS, DOMDisplay);
</script>
</body>