<link rel="stylesheet" href="css/game.css">

<body>
  <script>
    function myTrackKeys(keys) {
      let down = Object.create(null);
      function track(event) {
        if (keys.includes(event.key)) {
          down[event.key] = event.type == "keydown";
          event.preventDefault();
        }
      }
      window.addEventListener("keydown", track);
      window.addEventListener("keyup", track);

      down.unregister = () => {
        window.removeEventListener("keydown", track);
        window.removeEventListener("keyup", track);
      }

      return down;
    }

    // The old runLevel function. Modify this...
    function runLevel(level, Display) {
      let display = new Display(document.body, level);
      let state = State.start(level);
      let ending = 1;
      let gameState = "run";
      const arrowKeys = myTrackKeys(["ArrowLeft", "ArrowRight", "ArrowUp"]);

      return new Promise(resolve => {
        function escHandler(event)  {
          if (event.key === "Escape") {
            if (gameState === "run") {
              gameState = "pause";
            } else {
              gameState = "run";
              runAnimation(frame);
            }
            event.preventDefault();
          }
        }
        window.addEventListener("keydown", escHandler);

        function frame(time) {
          state = state.update(time, arrowKeys);
          display.syncState(state);

          if (gameState === "pause") {
            return false;
          } else if (state.status == "playing") {
            return true;
          } else if (ending > 0) {
            ending -= time;
            return true;
          } else {
            arrowKeys.unregister();
            display.clear();
            window.removeEventListener("keydown", escHandler);
            resolve(state.status);
            return false;
          }
        }

        runAnimation(frame);
      });
    }
    runGame(GAME_LEVELS, DOMDisplay);
  </script>
</body>