<link rel="stylesheet" href="css/game.css">
<style>.monster { background: purple }</style>

<body>
  <script>
    // Complete the constructor, update, and collide methods
    class Monster {
      constructor(pos, speed/* ... */) {
        this.pos = pos;
        this.speed = speed;
      }

      get type() { return "monster"; }

      static create(pos) {
        return new Monster(pos.plus(new Vec(0, -1)), new Vec(3, 0));
      }

      update(time, state) {
        let newPos = this.pos.plus(this.speed.times(time));
        if (!state.level.touches(newPos, this.size, "wall")) {
          return new Monster(newPos, this.speed);
        } else {
          return new Monster(newPos, this.speed.times(-1));
        }
      }

      collide(state) {
        let player = state.actors.find(actor => actor instanceof Player);
        let playerBottom = player.pos.y + player.size.y;
        
        if (Math.round(playerBottom) === this.pos.y) {
          // Kill
          let newActors = state.actors.filter(actor => actor != this);
          return new State(state.level, newActors, state.status);
        } else {
          // Lose
          return new State(state.level, state.actors, "lost");
        }
      }
    }

    Monster.prototype.size = new Vec(1.2, 2);

    levelChars["M"] = Monster;

    runLevel(new Level(`
..................................
.################################.
.#..............................#.
.#..............................#.
.#..............................#.
.#...........................o..#.
.#..@...........................#.
.##########..............########.
..........#..o..o..o..o..#........
..........#...........M..#........
..........################........
..................................
`), DOMDisplay);
  </script>
</body>